---
import Layout from "../layouts/Layout.astro";
import Landing from "../components/Landing.astro";
import Plans from "../components/Plans.astro";
import Details from "../components/Details.astro";
import Feature from "../components/Feature.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
    <main>
        <Landing />
        <Plans />
        <Feature />
        <Details />
        <Footer />
    </main>
</Layout>
