---
import "../styles/Header.css"
---

 <header class="header">
        <nav class="nav">
            <span class="logo">InfinityCloud</span>
            <div class="container-btn">
                <button class="btn-header login">Iniciar Sesión</button>
                <button class="btn-header register">Registrarse</button>
            </div> 
        </nav>
</header>

